[Unit]
Description=The Hub XMLRPC API helps to operate SUSE Manager or Uyuni infrastructures with one Server, called a Hub, managing several Servers.

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/hub/hub.conf
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hub-xmlrpc-api
ExecStart=/usr/bin/hub-xmlrpc-api


[Install]
WantedBy=multi-user.target
