[Unit]
Description=The Hub XMLRPC API

[Service]
Type=simple
Restart=always
User=nobody
EnvironmentFile=/etc/hub/hub.conf
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hub-xmlrpc-api
ExecStart=/usr/bin/hub-xmlrpc-api

[Install]
WantedBy=multi-user.target
